In [3]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('isfol.sqlite')
professioni = pd.read_sql_query("select * from professioni;", conn)

In [5]:
professioni.head(2)

,id,pk_professioni,nome,fk_livello5,anno,provenienza,pk_professioni_01,nome_01,codice,flag_vista
0,1,1.1.1.1.0.1,membro del consiglio dei ministri,1.1.1.1.0,2005,CP2001,1.1.1.1.0.0,membro del consiglio dei ministri,,None
1,2,1.1.1.1.0.2,membro del senato,1.1.1.1.0,2005,CP2001,1.1.1.1.0.1,membro del senato,,None

In [7]:
compiti = pd.read_sql_query("Select * from indagine_compiti_attivita;",conn)

In [10]:
compiti.desc_attivita.size

9301

In [13]:
compiti.desc_attivita.unique().size

6223